<header>
  <h1>Poetry Archive</h1>
  <main>
    <section>
      <h2>Ignorance is the curse of God; knowledge is the wing wherewith we fly to heaven.</h2>
      <p>Explore select poems from history's most well known writers</p>
    </section>
    <section>
      <h2>How to navigate this site</h2>
      <ol>
        <li>Type in a author's name into the first form</li>
        <li>Type in a poem's title into the second</li>
        <li>Submit your input and enjoy!</li>
      </ol>
    </section>
    <section>
      <h2>Start Exploring Works Now</h2>
      <form action="/search" method="get">
        <label for="author">Enter a poet's name:</label>
        <input type="text" id="author" name="author">
        <label for="title">Enter a poem title:</label>
        <input type="text" id="title" name="title">
        <button type="submit">Search</button>
      </form>
    </section>
  </main>
</header>
