<header>
  <h1>Poetry Archive</h1>
  <main>
    <section>
      <h2>Ignorance is the curse of God; knowledge is the wing wherewith we fly to heaven.</h2>
      <p>Explore select poems from history's most well known writers</p>
    </section>
    <section>
      <h2>How to navigate this site</h2>
      <ol>
        <li>Visit the "Poems" page to see a list of classic poetry and prose.</li>
        <li>Click on a poem title to view the piece.</li>
      </ol>
    </section>
    <section>
      <h2>Start Exploring Works Now</h2>
      <form action="/search" method="get">
        <label for="keyword">Enter an author's name:</label>
        <input type="text" id="keyword" name="keyword">
        <button type="submit">Search</button>
      </form>

    </section>
  </main>
</header>
