<% if @poems.any? %>
  <h2>Search Results</h2>
  <ul>
    <% @poems.each do |poem| %>
      <li><strong>Author:</strong> <%= poem['author'] %></li>
      <li><strong>Title:</strong> <%= poem['title'] %></li>
      <li><strong>Lines:</strong> <%= poem['lines'].join('<br>') %></li>
    <% end %>
  </ul>
<% else %>
  <p>No poems found.</p>
<% end %>
